header {
    background-color: #3740be;
    width: 1200px;
    margin: auto;
}

.title {
    font-size: 60px;
    border: solid 4px;
    max-width: 450px;
    border-color: #c0c0c0;
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 100px;
}

p {
    width: 1200px;
    margin: auto;
}

article {
    background-color: #ffffff;
    width: 1200px;
    margin: auto;
}

.bottom {
    background-color: #3740be;
    margin: auto;
    width: 1200px;
}

.bottom_text {
    color: white;
    font-size: 10px;
    width: 1000px;
    margin: auto;
}

.bottom_img {
    width: 100px;
    height: 100px;
    border: solid 3px;
    border-radius: 20px;
}

nav {
    background-color: #3740be;
    width: 1200px;
    margin: auto;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}
