body {
    text-align: center;
    color: #000000;
    background: linear-gradient(#003399 0%, #007474c7 100%);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    font-size: 60px;
    border: solid 4px;
    max-width: 450px;
    border-color: #c0c0c0;
    background-color: #ffffff;
    margin: auto;
    border-radius: 20px;
	background-color: blue;
}

.gallery_panel {
	margin: auto;
	text-align: center;
	background-color: #00c98c;
	width: 600px;
	height: auto;
}

.art {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.art-creepy {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.yeah {
	background-color: #000b49;
	color: white;
}

article {
    background-color: #ffffff;
    width: 1000px;
    margin: auto;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

.bottom {
    background-color: #3740be;
    margin: auto;
    width: 1200px;
}

.bottom_text {
    color: white;
    font-size: 15px;
    width: 1000px;
    margin: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #3740be;
    width: 1200px;
    margin: auto;
}
