body {
    text-align: center;
    color: #000000;
    background-image: linear-gradient(#7187ff, #4157d3);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.title {
    font-size: 60px;
    border: solid 4px;
    max-width: 450px;
    border-color: #c0c0c0;
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    border-radius: 20px;
}

article {
    background-color: #ffffff;
    width: 1000px;
    margin: auto;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

.bottom {
    background-color: #3740be;
    margin: auto;
    width: 1200px;
}

.bottom_text {
    color: white;
    font-size: 10px;
    width: 1000px;
    margin: auto;
}

nav {
    background-color: #3740be;
    width: 1200px;
    margin: auto;
}

.fleet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}

.youtube:link {
    color: black;
}

.youtube:visited {
    color: black;
}

.youtube:hover {
    color: black;
}

.youtube:active {
    color: black;
}

.bottom_img {
    width: 100px;
    height: 100px;
    border: solid 3px;
    border-radius: 20px;
}

p {
    width: 1000px;
    margin: auto;
}

.gallery_panel {
    width: 500px;
    height: 500px;
}
